<div>
    <mat-toolbar class="toolbar">
      <mat-icon src="../../../assets/imagenes/Utalca.svg" aria-hidden="false" aria-label="Logo Utalca"></mat-icon>
      <span>Gestión de Declaraciones Juradas</span>
      <button class="boton_sesion" (click)="irAIniciarSesion()" mat-stroked-button>Ingresar</button>
    </mat-toolbar>
    
    <mat-tab-group mat-stretch-tabs class="tabs">
      <mat-tab label="Fechas Importantes">
        <div class="fechas">
          <mat-card class="tarjeta">
            <mat-card-header>
              <mat-card-title>16 de Mayo</mat-card-title>
              <mat-card-subtitle>Entrega de Declaraciones</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contenido_tarjeta">
                En esta fecha comienza el proceso de entrega de las declaraciones juradas de ingresos.
            </mat-card-content>
          </mat-card>
  
          <mat-card class="tarjeta">
            <mat-card-header>
              <mat-card-title>16 de agosto</mat-card-title>
              <mat-card-subtitle>Plazo final para la entrega de Declaraciones</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contenido_tarjeta">
                Plazo final para entregar la declaración jurada de ingresos.
            </mat-card-content>
          </mat-card>
  
          <mat-card class="tarjeta">
            <mat-card-header>
              <mat-card-title>16 de Septiembre</mat-card-title>
              <mat-card-subtitle>Cálculo de cuotas</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contenido_tarjeta">
                En esta fecha comienza el calculo de las cuotas para cada deudor.
            </mat-card-content>
          </mat-card>
  
          <mat-card class="tarjeta">
            <mat-card-header>
              <mat-card-title>26 de diciembre</mat-card-title>
              <mat-card-subtitle>Plazo máximo para pagar cuota</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contenido_tarjeta">
                Este es el plazo maximo para pagar la cuota del año usando alguno de los métodos de pago disponibles.
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
  
      <mat-tab label="Proceso Declaración"> Content 2 </mat-tab>
      <mat-tab label="Proceso Solicitudes"> Content 3 </mat-tab>
      <mat-tab label="Métodos de Pago"> Content 3 </mat-tab>
    </mat-tab-group>
    
  </div>
  
