.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.th{
    text-align: center; 
    color: white; 
    background-color: var(--color-utalca);
}

.data{
    text-align: center;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button{
    height: 60%;
    color: white;
    background-color: var(--color-utalca);
    align-self: center;
}