<div class="fondo">
    <div class="opciones">
      <form [formGroup]="busqueda">
        <mat-form-field appearance="outline">
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" formControlName="filtro" #input>
        </mat-form-field>
      </form>
      <button style="height: 40px; color: white; background-color: var(--color-utalca);" mat-raised-button (click)="menuRegistrarFuncionario()">Registrar Funcionario</button>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="rut">
          <th style="text-align: center; color: white; background-color: var(--color-utalca);" mat-header-cell *matHeaderCellDef> R.U.T </th>
          <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.rut}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nombres">
          <th style="text-align: center; color: white; background-color: var(--color-utalca);" mat-header-cell *matHeaderCellDef> Nombres</th>
          <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ap_paterno">
          <th style="text-align: center; color: white; background-color: var(--color-utalca);" mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
          <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
        </ng-container>
      
        <ng-container matColumnDef="ap_materno">
          <th style="text-align: center; color: white; background-color: var(--color-utalca);" mat-header-cell *matHeaderCellDef> Apellido Materno </th>
          <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <tr style="height: 50px;" *matNoDataRow>
          <td style="text-align: center;" colspan="4">No existen datos para la búsqueda: "{{input.value}}"</td>
        </tr>
      </table>
</div>
