.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.mat-header-cell{
    text-align: center;
}

.mat-cell{
    text-align: center;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
}

.boton{
    font-size: 12px;
    height: 60%;
    color: white;
    background-color: var(--color-utalca);
}