.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.mat-header-cell{
    text-align: center;
}

.mat-cell{
    text-align: center;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boton{
    height: 60%;
    color: white;
    background-color: var(--color-utalca);
    padding-right: 10px;
}