.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

td, th{
    text-align: center;
}

.header{
    text-align: center; 
    color: white; 
    background-color: var(--color-utalca);
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
}

.boton{
    font-size: 12px;
    height: 60%;
    color: white;
    background-color: var(--color-utalca);
}