<mat-toolbar class="toolbar">
    <div class="logo">
        <img style="height: 90%;" src="../../../assets/imagenes/Utalca.svg.png">
        <p style="font-size: 12px; line-height: 1.2;">Departamento de Apoyo<br> Financiero al Estudiante</p>
    </div>

    <div class="usuario">
        <p style="font-size: 12px;">Bienvenido: {{this.nombre}}</p>
        <img style="height: 70%; padding-left: 5px;" src="../../../assets/imagenes/usuario.png">
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav opened="true" mode="side" class="sidenav">
        <mat-nav-list>
            <a class="nav-list" mat-list-item> Mis Datos</a>
            <a class="nav-list" (click)="listaUTM()" mat-list-item>UTM</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="listaDeudores()" mat-list-item>Deudores</a>
            <a class="nav-list" (click)="listaFuncionarios()" mat-list-item>Funcionarios</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="listaDeclaracionesSinRevisar()" mat-list-item> Declaraciones sin Revisar</a>
            <a class="nav-list" (click)="listaDeclaracionesEnRevision()" mat-list-item> Declaraciones en Revisión</a>
            <a class="nav-list" mat-list-item> Declaraciones en Corrección</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="listarPostergacionesSinRevisar()" mat-list-item> Postergaciones de cobro</a>
            <mat-divider></mat-divider>
            <a class="nav-list"(click)="listarDevolucionesSinRevisar()"  mat-list-item> Devoluciones/Copia de pagarés</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
