.toolbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-utalca);
    height: 70px;
    color: white;
}

.sidenav-container{
    height: 100%;
}

.sidenav{
    width: 250px;
    background-color: #e0e0e0;
}

.nav-list{
    color: var(--color-utalca);
    font-size: 14px;
}

.mat-list-item:hover{
    color: white;
    background-color: var(--color-utalca)!important;
}

.logo{
    display: flex;
    flex-direction: row;
    height: 90%;
    align-items: center;
}

.usuario{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    column-gap: 0;
}