<mat-toolbar class="toolbar">
    <div class="logo">
        <img style="height: 90%; padding-right: 10px;" src="../../../assets/imagenes/logo_blanco.svg">
        <p style="font-size: 12px; line-height: 1.2;">Departamento de Apoyo<br> Financiero al Estudiante</p>
    </div>

    <div class="usuario">
        <p style="font-size: 12px; margin-bottom: 0;">Bienvenido/a: {{this.nombre}}</p>
        <button style="align-self: flex-end;" (click)="cerrarSesion()">Cerrar Sesión</button>
        <!-- <img style="height: 70%; padding-left: 5px;" src="../../../assets/imagenes/usuario.png"> -->
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav opened="true" mode="side" class="sidenav">
        <mat-nav-list>
            <mat-action-list class="mat-list-item" *ngFor="let ruta of rutas" (click)="menuSeleccionado(ruta.enlace)" routerLink="{{ruta.enlace}}" [routerLinkActive]="['activo']">{{ ruta.nombre }}</mat-action-list>
        </mat-nav-list>   
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
