.fondo{
    display: grid;
    padding: 30px;
}

.acciones{
    display: flex;
    justify-content: center;
}

.botones{
    margin-right: 10px;
    background-color: var(--color-utalca);
    color: white;
}

th{
    text-align: center;
    background-color: var(--color-utalca);
}

td{
    text-align: center;
}

.mat-header-cell{
    background-color: var(--color-utalca);
}