<div class="fondo">
    <h2 class="titulo">Declaración Jurada de Ingresos Año {{this.year}}</h2>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="datosPersonales">
            <form [formGroup]="datosPersonales">
              <ng-template matStepLabel>Datos del Deudor</ng-template>
              <div class="formulario">
                <div class="datos_personales">
                    <h3>Datos Personales</h3>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Rut</mat-label>
                        <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
                    </mat-form-field>

                    <div class="form_nombre">
                        <mat-form-field appearance="outline" class="inputs" >
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="nombres" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_paterno" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_materno" readonly>
                        </mat-form-field>
                    </div>

                    <div class="div_estado_civil">
                        <label>Estado Civil:</label>
                        <mat-radio-group class="estado_civil" formControlName="estado_civil" [disabled]=true>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 1" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=1>Soltero sin hijos</mat-radio-button>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 2" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=2>Soltero con hijos</mat-radio-button>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 3" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=3>Casado</mat-radio-button>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 4" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=4>Casado con deudor Reprog.Cred.Univ. o Fiscal</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                

                <h3>Domicilio</h3>
                <div class="form_direccion">
                    <mat-form-field appearance="outline" class="input_direccion">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="direccion" readonly>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Región</mat-label>
                        <input matInput formControlName="region" name="region" readonly>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Comuna</mat-label>
                        <input matInput formControlName="comuna" name="comuna" readonly>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Ciudad</mat-label>
                        <input matInput formControlName="ciudad"  name="ciudad" readonly>
                    </mat-form-field>
                </div>

                <h3>Datos de Contacto</h3>
                <div class="form_contacto">
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="telefono" readonly>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="correo" readonly>
                    </mat-form-field>
                </div>

                <h3>Datos del Trabajo</h3>
                <div class="form_trabajo">
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Institución en la que trabaja</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="trabajo" readonly>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Teléfono del trabajo</mat-label>
                        <input matInput placeholder="Last name, First name" formControlName="tel_trabajo" readonly>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>AFP a la que esta afiliado</mat-label>
                        <input matInput formControlName="afp" name="afp" readonly>
                    </mat-form-field>
                </div>
              </div>

              <div class="botones">
                <div class="boton">
                    <button mat-stroked-button matStepperNext >Siguiente</button>
                </div>
              </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="ingresosDeudor">
            <div>
                <form [formGroup]="ingresosDeudor">
                <ng-template matStepLabel>Ingresos del Deudor</ng-template>
    
                <div class="formulario_ingresos">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-form-field appearance="outline" class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element">$ {{element.valor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-form-field appearance="outline" class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">   
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
                </form>
            </div>
        </mat-step>
        <mat-step [stepControl]="conyuge" *ngIf="casado">
            <form [formGroup]="conyuge">
              <ng-template matStepLabel>Datos e Ingresos del Conyuge</ng-template>

                <div>
                    <h3>Datos Personales</h3>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Rut</mat-label>
                        <input matInput placeholder="Ej. 12345678" formControlName="rut_conyuge" readonly>
                    </mat-form-field>

                    <div class="form_nombre">
                        <mat-form-field appearance="outline" class="inputs" >
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="nombres" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_paterno" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_materno" readonly>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <h3>Ingresos del Conyuge</h3>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" id="{{element.id}}" readonly>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" readonly>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="conyuge">
            <form [formGroup]="conyuge">
                <ng-template matStepLabel>Documentación</ng-template>
                <div class="formulario-documentacion">
                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Rentas'"
                        [nombreDocumento]="'CERTIFICADO DE RENTAS'"
                        [tipoDocumento]="'RENTAS_DEUDOR'"
                        [documento]="this.documento_renta"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Rentas Conyuge'"
                        [nombreDocumento]="'CERTIFICADO DE RENTAS CONYUGE'"
                        [tipoDocumento]="'RENTAS_CONYUGE'"
                        [documento]="this.documento_renta_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Formulario N°22 Compacto'"
                        [nombreDocumento]="'FORMULARIO 22'"
                        [tipoDocumento]="'FORMULARIO_N22'"
                        [documento]="this.documento_formulario22"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Carpeta Tributaria Deudor'"
                        [nombreDocumento]="'CARPETA TRIBUTARIA DEUDOR'"
                        [tipoDocumento]="'CARPETA_TRIBUTARIA_DEUDOR'"
                        [documento]="this.documento_carp_tributaria_deudor"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Carpeta Tributaria Conyuge'"
                        [nombreDocumento]="'CARPETA_TRIBUTARIA_CONYUGE'"
                        [tipoDocumento]="'CARPETA_TRIBUTARIA_CONYUGE'"
                        [documento]="this.documento_carp_tributaria_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Cotizaciones Previsionales'"
                        [nombreDocumento]="'COTIZACIONES'"
                        [tipoDocumento]="'CERTIFICADO_COTIZACIONES'"
                        [documento]="this.documento_cotizaciones"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Fotocopia de Libreta de Matrimonio'"
                        [nombreDocumento]="'LIBRETA DE MATRIMONIO'"
                        [tipoDocumento]="'LIBRETA_MATRIMONIO'"
                        [documento]="this.documento_libreta_matrimonio"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.deudorDebePresentarDecSimple"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Declaracion Jurada Notarial Simple del Deudor (debe acreditar no haber percibido ingresos en tres o mas meses)'"
                        [nombreDocumento]="'DECLARACION JURADA SIMPLE DEUDOR'"
                        [tipoDocumento]="'DEC_JURADA_SIMPLE_DEUDOR'"
                        [documento]="this.documento_declaracion_sin_ingresos"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado && !this.conyugeDebePresentarDecSimple"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Declaracion Jurada Notarial Simple del Conyuge (debe acreditar no haber percibido ingresos en tres o mas meses)'"
                        [nombreDocumento]="'DECLARACION JURADA SIMPLE CONYUGE'"
                        [tipoDocumento]="'DEC_JURADA_SIMPLE_CONYUGE'"
                        [documento]="this.documento_declaracion_sin_ingresos_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Finiquito de Trabajo Deudor'"
                        [nombreDocumento]="'FINIQUITO DEUDOR'"
                        [tipoDocumento]="'FINIQUITO_DEUDOR'"
                        [documento]="this.documento_finiquito"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Finiquito de Trabajo Conyuge'"
                        [nombreDocumento]="'FINIQUITO CONYUGE'"
                        [tipoDocumento]="'FINIQUITO_CONYUGE'"
                        [documento]="this.documento_finiquito_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.tieneHijos"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Nacimiento de Hijo'"
                        [nombreDocumento]="'CERTIFICADO DE NACIMIENTO'"
                        [tipoDocumento]="'CERT_NACIMIENTO'"
                        [documento]="this.documento_cert_nacimiento"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Copia de Pagaré de Conyuge, para deudores reprogramados Ley 19.287'"
                        [nombreDocumento]="'COPIA DE PAGARE CONYUGE'"
                        [tipoDocumento]="'PAGARE_CONYUGE'"
                        [documento]="this.documento_copia_pagare_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>
                </div>
                
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
