<div class="fondo">
    <h1><b>Declaración Jurada de Ingresos Año {{this.year}}</b></h1>
    
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="datosPersonales">
            <form [formGroup]="datosPersonales">
              <ng-template matStepLabel>Datos del Deudor</ng-template>
              <div class="formulario">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: 16px;"><b>Datos Personales</b></mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content class="datos_personales">
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>RUT</mat-label>
                            <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
                        </mat-form-field>

                        <div class="form_nombre">
                            <mat-form-field appearance="outline" class="inputs" >
                                <mat-label>Nombres</mat-label>
                                <input matInput placeholder="Primer y Segundo Nombre" formControlName="nombres" readonly>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput formControlName="ap_paterno" readonly>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput formControlName="ap_materno" readonly>
                            </mat-form-field>
                        </div>

                        <div class="div_radio_group">
                            <label>Estado Civil:</label>
                            <mat-radio-group class="estado_civil" formControlName="estado_civil">
                                <mat-radio-button disabled [checked]="this.datosPersonales.get('estado_civil')!.value == 1" 
                                (change)="verificacionEstadoCivil($event.value)" class="opciones" value=1>Soltero sin hijos</mat-radio-button>
                                <mat-radio-button disabled [checked]="this.datosPersonales.get('estado_civil')!.value == 2" 
                                (change)="verificacionEstadoCivil($event.value)" class="opciones" value=2>Soltero con hijos</mat-radio-button>
                                <mat-radio-button disabled [checked]="this.datosPersonales.get('estado_civil')!.value == 3" 
                                (change)="verificacionEstadoCivil($event.value)" class="opciones" value=3>Casado</mat-radio-button>
                                <mat-radio-button disabled [checked]="this.datosPersonales.get('estado_civil')!.value == 4" 
                                (change)="verificacionEstadoCivil($event.value)" class="opciones" value=4>Casado con deudor Reprog.Cred.Univ. o Fiscal</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: 16px;"><b>Domicilio</b></mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content class="form_direccion">
                        <mat-form-field appearance="outline" class="input_direccion">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Pasaje 1 nro 37" formControlName="direccion" readonly >
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Región</mat-label>
                            <input matInput formControlName="region" readonly>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Comuna</mat-label>
                            <input matInput formControlName="comuna" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Ciudad</mat-label>
                            <input matInput formControlName="ciudad" readonly>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: 16px;"><b>Datos de Contacto</b></mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content class="form_contacto">
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Teléfono</mat-label>
                            <input matInput placeholder="912345678" formControlName="telefono" readonly>
                        </mat-form-field>

                        <mat-form-field appearance="outline" style="width: 400px; padding-right: 15px;">
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput placeholder="correo@gmail.com" formControlName="correo" readonly>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: 16px;"><b>Datos del Trabajo</b></mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div class="form_trabajo">
                            <mat-form-field appearance="outline" style="width: 400px; padding-right: 15px;">
                                <mat-label>Institución en la que trabaja</mat-label>
                                <input matInput placeholder="Lugar de trabajo" formControlName="trabajo" readonly>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Teléfono del trabajo</mat-label>
                                <input matInput formControlName="tel_trabajo" readonly>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>AFP a la que esta afiliado</mat-label>
                                <input matInput formControlName="afp" readonly>
                            </mat-form-field>
                        </div>
                        <div class="div_radio_group">
                            <label>Presenta declaración de renta S.I.I:</label>
                            <mat-radio-group class="declaracion_sii" formControlName="declaracion_sii">
                                <mat-radio-button disabled [checked]="this.datosPersonales.get('declaracion_sii')!.value == 'SI'" 
                                    class="opciones" value="SI">Si</mat-radio-button>
                                <mat-radio-button disabled [checked]="this.datosPersonales.get('declaracion_sii')!.value == 'NO'" 
                                    class="opciones" value="NO">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

              <div class="botones">
                <div class="boton">
                    <button mat-stroked-button matStepperNext >Siguiente</button>
                </div>
              </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="ingresosDeudor">
            <div style="padding-bottom: 10px;">
                <form [formGroup]="ingresosDeudor">
                <ng-template matStepLabel>Ingresos del Deudor</ng-template>
    
                <div class="formulario_ingresos">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-form-field appearance="outline" class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element">$ {{element.valor | mask: 'separator': {thousandSeparator: '.'} }} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-form-field appearance="outline" class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" readonly>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">   
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
                </form>
            </div>
        </mat-step>
        <mat-step [stepControl]="conyuge" *ngIf="casado">
            <form [formGroup]="conyuge">
              <ng-template matStepLabel>Datos e Ingresos del Conyuge</ng-template>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title style="font-size: 16px;"><b>Datos Personales</b></mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>RUT</mat-label>
                            <input matInput placeholder="Ej. 12345678" formControlName="rut_conyuge" readonly>
                        </mat-form-field>

                        <div class="form_nombre">
                            <mat-form-field appearance="outline" class="inputs" >
                                <mat-label>Nombres</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="nombres" readonly>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="ap_paterno" readonly>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="inputs">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="ap_materno" readonly>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div style="padding-top: 20px;">
                    <h3 style="font-size: 16px;"><b>Ingresos del Conyuge</b></h3>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" id="{{element.id}}" readonly>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor | mask: 'separator': {thousandSeparator: '.'} }} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" readonly>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="conyuge">
            <form [formGroup]="conyuge">
                <ng-template matStepLabel>Documentación</ng-template>
                <div class="formulario-documentacion">
                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Rentas del Deudor'"
                        [nombreDocumento]="'CERTIFICADO DE RENTAS'"
                        [tipoDocumento]="'RENTAS_DEUDOR'"
                        [documento]="this.documento_renta"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Rentas del Conyuge'"
                        [nombreDocumento]="'CERTIFICADO DE RENTAS CONYUGE'"
                        [tipoDocumento]="'RENTAS_CONYUGE'"
                        [documento]="this.documento_renta_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Formulario N°22 Compacto'"
                        [nombreDocumento]="'FORMULARIO 22'"
                        [tipoDocumento]="'FORMULARIO_N22'"
                        [documento]="this.documento_formulario22"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Carpeta Tributaria del Deudor'"
                        [nombreDocumento]="'CARPETA TRIBUTARIA DEUDOR'"
                        [tipoDocumento]="'CARPETA_TRIBUTARIA_DEUDOR'"
                        [documento]="this.documento_carp_tributaria_deudor"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Carpeta Tributaria del Conyuge'"
                        [nombreDocumento]="'CARPETA_TRIBUTARIA_CONYUGE'"
                        [tipoDocumento]="'CARPETA_TRIBUTARIA_CONYUGE'"
                        [documento]="this.documento_carp_tributaria_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado de Cotizaciones Previsionales'"
                        [nombreDocumento]="'COTIZACIONES'"
                        [tipoDocumento]="'CERTIFICADO_COTIZACIONES'"
                        [documento]="this.documento_cotizaciones"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Fotocopia de Libreta de Matrimonio'"
                        [nombreDocumento]="'LIBRETA DE MATRIMONIO'"
                        [tipoDocumento]="'LIBRETA_MATRIMONIO'"
                        [documento]="this.documento_libreta_matrimonio"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.deudorDebePresentarDecSimple"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Declaración Jurada Notarial Simple del Deudor. (Debe acreditar no haber percibido ingresos en tres o mas meses seguidos)'"
                        [nombreDocumento]="'DECLARACION JURADA SIMPLE DEUDOR'"
                        [tipoDocumento]="'DEC_JURADA_SIMPLE_DEUDOR'"
                        [documento]="this.documento_declaracion_sin_ingresos"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado && !this.conyugeDebePresentarDecSimple"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Declaración Jurada Notarial Simple del Conyuge. (Debe acreditar no haber percibido ingresos en tres o mas meses seguidos)'"
                        [nombreDocumento]="'DECLARACION JURADA SIMPLE CONYUGE'"
                        [tipoDocumento]="'DEC_JURADA_SIMPLE_CONYUGE'"
                        [documento]="this.documento_declaracion_sin_ingresos_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Finiquito de Trabajo del Deudor'"
                        [nombreDocumento]="'FINIQUITO DEUDOR'"
                        [tipoDocumento]="'FINIQUITO_DEUDOR'"
                        [documento]="this.documento_finiquito"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.casado"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Finiquito de Trabajo del Conyuge'"
                        [nombreDocumento]="'FINIQUITO CONYUGE'"
                        [tipoDocumento]="'FINIQUITO_CONYUGE'"
                        [documento]="this.documento_finiquito_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="!this.tieneHijos"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Certificado(s) de Nacimiento del o los Hijos/as'"
                        [nombreDocumento]="'CERTIFICADO DE NACIMIENTO'"
                        [tipoDocumento]="'CERT_NACIMIENTO'"
                        [documento]="this.documento_cert_nacimiento"
                        [soloVista]="true">
                    </app-subir-documentacion>

                    <app-subir-documentacion
                        [ocultar]="false"
                        [rutDeudor]="rut_deudor"
                        [idDeclaracion]="id_declaracion"
                        [detalleDocumento]="'Copia de Pagaré de Conyuge. (Para casados con deudores reprogramados Ley 19.287)'"
                        [nombreDocumento]="'COPIA DE PAGARE CONYUGE'"
                        [tipoDocumento]="'PAGARE_CONYUGE'"
                        [documento]="this.documento_copia_pagare_conyuge"
                        [soloVista]="true">
                    </app-subir-documentacion>
                </div>
                
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
