<div class="transparente">
    <mat-toolbar class="toolbar">
        <span>Gestión de Declaraciones Juradas</span>
    </mat-toolbar>

    <div class="fondo">
        <form [formGroup]="form_ingreso" (ngSubmit)="ingresar()">
            <mat-card appearance="raised" class="tarjeta">
                <mat-card-header class="header_tarjeta">
                  <img class="imagen" mat-card-image src="../../../assets/imagenes/Utalca.svg.png" id="logo"/>
                </mat-card-header>
                <mat-card-content class="contenido_tarjeta">
                    <div class="tipo_usuario">
                        <label>Ingresar como:</label>
                        <mat-radio-group class="opciones" formControlName="tipo_ingreso">
                            <mat-radio-button style=" border-color: var(--color-utalca);" value="1">Deudor</mat-radio-button>
                            <mat-radio-button value="2">Funcionario</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-form-field appearance="outline">
                        <mat-label>RUT</mat-label>
                        <input matInput mask="0.000.000-0 || 00.000.000-0" [patterns]="this.customPatterns" [dropSpecialCharacters]="false" placeholder="12.345.678-9" formControlName="rut">
                        <!-- <div class="mensaje-error" *ngIf="this.form_ingreso.controls['rut'].errors?.rut_valido">
                            El RUT ingresado no es válido.
                        </div> -->
                        <mat-error *ngIf="this.form_ingreso.controls['rut'].errors?.rut_valido">El RUT ingresado no es válido.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="contrasena">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <button mat-raised-button class="mat-mdc-raised-button" type="submit" (click)="this.ingresando = !this.ingresando" [disabled]="this.form_ingreso.invalid">
                        <mat-icon class="mat-icon" *ngIf="this.ingresando">
                            <mat-spinner class="mat-mdc-progress-spinner" diameter="20"></mat-spinner>
                        </mat-icon>
                        {{ this.ingresando ? 'Ingresando...' : 'Ingresar' }}
                    </button>

                    <div class="recuperar_contrasena">¿Olvidó su contraseña?</div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
