.fondo{
    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 3%;
}

.icon{
    padding: 3%;
    align-self: center;
    width: 70%;
    height: 70%;
}

.tarjeta{
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    width: 200px;
}