.fondo{
    height: 100%; 
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    padding: 3%;
}

.icon{
    padding: 3%;
    align-self: center;
    width: 70%;
    height: 70%;
}

.tarjeta{
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    width: 250px;
}

.menu{
    width: 90%;
    height: 50%;
}

.pasos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.subir-documento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
}

.icono-pdf{
    max-height: 70%;
    padding-right: 5px;
}

.miniatura-pdf{
    display: flex; 
    align-items: center; 
    height: 100%; 
    width: 55%;
}

.icono-aceptado{
    transform: scale(1.5); 
    padding: 20px;
    color: green;
}

.icono-alerta{
    transform: scale(1.5); 
    padding: 20px;
    color: orange;
}

.mensaje{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}

.pdf-disponible{
    transform: scale(1.5); 
    padding: 20px;
    color: green;
}

.pdf-nodisponible{
    transform: scale(1.5); 
    padding: 20px;
    color: red;
}