<div class="fondo">
    <h1 style="align-self: flex-start; padding-bottom: 3%;">Declaración Jurada de Ingresos 2023</h1>
    <div style="display:flex; flex-direction: row; justify-content: space-evenly; column-gap: 10%;">
        <div>
            <h2 >Paso 1</h2>
            <mat-card class="tarjeta" (click)="menuRegistrarDeclaracion()">
                <img class="icon" mat-card-image src="../../../assets/imagenes/documento.png">
                <mat-card-header>
                    <mat-card-title style="font-size: 14px;">Registrar Declaración Jurada</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
        
        <div>
            <h2>Paso 2</h2>
            <mat-card class="tarjeta" (click)="descargarDeclaracion()">
                <img class="icon" mat-card-image src="../../../assets/imagenes/descargar.png">
                <mat-card-header>
                    <mat-card-title style="font-size: 14px;">Descargar Declaración en PDF</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>

        <div>
            <h2>Paso 3</h2>
            <mat-card class="tarjeta" (click)="menuSubirDeclaracion()">
                <img class="icon" mat-card-image src="../../../assets/imagenes/subir.png">
                <mat-card-header>
                    <mat-card-title style="font-size: 14px;">Subir Declaración Firmada</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
          
    </div>
</div>
