<div class="fondo">
    <h2 style="align-self: flex-start; padding-bottom: 3%;">Declaración Jurada de Ingresos 2023</h2>

    <mat-stepper class="menu">
        <mat-step>
            <ng-template matStepLabel>Completar Formulario</ng-template>
            <mat-card class="tarjeta" (click)="menuRegistrarDeclaracion()">
                <img class="icon" mat-card-image src="../../../assets/imagenes/documento.png">
                <mat-card-header>
                    <mat-card-title style="font-size: 14px;">Registrar Declaración Jurada</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Descargar PDF</ng-template>
            <mat-card class="tarjeta" (click)="descargarDeclaracion()">
                <img class="icon" mat-card-image src="../../../assets/imagenes/descargar.png">
                <mat-card-header>
                    <mat-card-title style="font-size: 14px;">Descargar Declaración en PDF</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Subir Declaración Firmada</ng-template>
            <div>
                <div class="label_documento">
                    <label>Declaración Firmada ante Notario</label>
                </div>
                <div class="subir-documento">
                    <input type="file" (change)="upload($event)" accept="application/pdf" #declaracion style="display: none;">
                    <button style="height:50%;" (click)="declaracion.click()"> Seleccionar.</button>
                    <div *ngIf="this.declaracion_firmada == null" class="miniatura-pdf">
                        <span>No se ha seleccionado ningún archivo.</span>
                    </div>
                    <div *ngIf="this.declaracion_firmada != null" (click)="visualizarPDF()" class="miniatura-pdf">
                        <img class="icono-pdf" src="../../../assets/imagenes/pdf.png" id="logo"/>
                        <div style="text-overflow: ellipsis; overflow: hidden; ">{{this.declaracion_firmada.name}}</div>
                    </div>
                    <button mat-icon-button><mat-icon (click)="subirDeclaracionFirmada()" class="material-icons-outlined">save</mat-icon></button>
                    <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                </div>
            </div>
        </mat-step>
      </mat-stepper>
</div>
