<mat-toolbar class="toolbar">
    <div style="height: 100%;">
        <img style="height: 90%;" src="../../../assets/imagenes/Utalca.svg.png">
        <span style="font-size: 12px;">Departamento de Apoyo Financiero al Estudiante</span>
    </div>
    <h3>Gestión de Declaraciones Juradas</h3>

    <div style="height: 100%;">
        <span style="font-size: 12px;">Bienvenido: {{this.nombre}}</span>
        <span>Cerrar Sesión</span>
        <img style="height: 90%;" src="../../../assets/imagenes/Utalca.svg.png">
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav opened="true" mode="side" class="sidenav">
        <mat-nav-list>
            <a class="nav-list" (click)="misDatos()" mat-list-item> Mis Datos</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="registrarDeclaracion()" mat-list-item> Registrar Declaración Jurada</a>
            <a class="nav-list" (click)="listarDeclaracion()"mat-list-item> Historial de Declaraciones Juradas</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="solicitarPostergacion()" mat-list-item> Solicitar Postergación de Cobro</a>
            <a class="nav-list" (click)="listarPostergaciones()"mat-list-item> Historial de Postergaciones de Cobro</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="solicitarDevolucion()" mat-list-item> Solicitar Devolución de Pagarés</a>
            <a class="nav-list" (click)="listarDevoluciones()" mat-list-item> Historial de Devoluciones de Pagarés</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


