<mat-toolbar class="toolbar">
    <div class="logo">
        <img style="height: 90%;" src="../../../assets/imagenes/Utalca.svg.png">
        <p style="font-size: 12px; line-height: 1.2;">Departamento de Apoyo<br> Financiero al Estudiante</p>
    </div>

    <div class="usuario">
        <p style="font-size: 12px;">Bienvenido: {{this.nombre}}</p>
        <img style="height: 70%; padding-left: 5px;" src="../../../assets/imagenes/usuario.png">
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav opened="true" mode="side" class="sidenav">
        <mat-nav-list>
            <a class="nav-list" (click)="misDatos()" mat-list-item> Mis Datos</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="registrarDeclaracion()" mat-list-item> Registrar Declaración Jurada</a>
            <a class="nav-list" (click)="listarDeclaracion()"mat-list-item> Historial de Declaraciones Juradas</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="solicitarPostergacion()" mat-list-item> Solicitar Postergación de Cobro</a>
            <a class="nav-list" (click)="listarPostergaciones()"mat-list-item> Historial de Postergaciones de Cobro</a>
            <mat-divider></mat-divider>
            <a class="nav-list" (click)="solicitarDevolucion()" mat-list-item> Solicitar Devolución de Pagarés</a>
            <a class="nav-list" (click)="listarDevoluciones()" mat-list-item> Historial de Devoluciones de Pagarés</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


