.fondo{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.mat-header-cell{
    text-align: center;
}

.mat-cell{
    text-align: center;
}

.boton{
    color: white;
    background-color: var(--color-utalca);
}