<div class="fondo">
    <h1>Mis Datos</h1>
    <form [formGroup]="datosPersonales">
        <div>
            <div class="datos_personales">
                <h2 class="titulo">Datos Personales</h2>
                <mat-form-field appearance="outline">
                    <mat-label>RUT</mat-label>
                    <input matInput formControlName="rut" readonly>
                </mat-form-field>

                <div class="nombre">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombres" readonly>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput formControlName="ap_paterno" readonly>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="ap_materno" readonly>
                    </mat-form-field>
                </div>
            </div>

            <div class="contacto">
                <h2 class="titulo">Datos de Contacto</h2>
                <mat-form-field appearance="outline" class="direccion">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" readonly>
                </mat-form-field>
    
                <div class="nombre">
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono" readonly>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="correo" readonly>
                    </mat-form-field>
                </div>
            </div>

            <div class="contrasena">
                <h2 class="titulo">Contraseña</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="contrasena" readonly>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
