<mat-tab-group>
    <mat-tab label="Graficos" style="width: 100%;">
      <div class="fondo">

        <div class="tarjetas">
          <mat-card style="width: 200px; height: 200px;">
            <mat-card-header style="background-color: var(--color-utalca); color: white; text-align: center; padding: 10px;">
              <mat-card-title style="font-size: 14px; text-align: center; width: 100%;" >Declaraciones recibidas </mat-card-title>
            </mat-card-header>
            <mat-card-content style=" display:flex; flex-direction: column; align-items: center; justify-content: center; height:100%; text-align: center;">
              <p style="font-size: 50px;">{{this.nroDeclaracionesEntregadas}}</p>
            </mat-card-content>
          </mat-card>
          
          <mat-card style="width: 200px; height: 200px;">
            <mat-card-header style="background-color: var(--color-utalca); color: white; text-align: center; padding: 10px;">
              <mat-card-title style="font-size: 14px; text-align: center; width: 100%;">Declaraciones con problemas </mat-card-title>
            </mat-card-header>
            <mat-card-content style=" display:flex; flex-direction: column; align-items: center; justify-content: center; height:100%; text-align: center;">
              <p style="font-size: 50px;">{{this.nroDeclaracionesCorreccion}}</p>
            </mat-card-content>
          </mat-card>

          <mat-card style="width: 200px; height: 200px;">
            <mat-card-header style="background-color: var(--color-utalca); color: white; text-align: center; padding: 10px;">
              <mat-card-title style="font-size: 14px; text-align: center; width: 100%;">Declaraciones sin revisar </mat-card-title>
            </mat-card-header>
            <mat-card-content style=" display:flex; flex-direction: column; align-items: center; justify-content: center; height:100%; text-align: center;">
              <p style="font-size: 50px;">{{this.nroDeclaracionesEntregadas}}</p>
            </mat-card-content>
          </mat-card>

          <mat-card style="width: 200px; height: 200px;">
            <mat-card-header style="background-color: var(--color-utalca); color: white; text-align: center; padding: 10px;">
              <mat-card-title style="font-size: 14px; text-align: center; width: 100%;">Deudores con postergación de cobro </mat-card-title>
            </mat-card-header>
            <mat-card-content style=" display:flex; flex-direction: column; align-items: center; justify-content: center; height:100%; text-align: center;">
              <p style="font-size: 50px;">{{this.nroDeudoresPostergacion}}</p>
            </mat-card-content>
          </mat-card>

          <mat-card style="width: 200px; height: 200px;">
            <mat-card-header style="background-color: var(--color-utalca); color: white; text-align: center; padding: 10px;">
              <mat-card-title style="font-size: 14px; text-align: center; width: 100%;">Declaraciones sin revisar </mat-card-title>
            </mat-card-header>
            <mat-card-content style=" display:flex; flex-direction: column; align-items: center; justify-content: center; height:100%; text-align: center;">
              <p style="font-size: 50px;">{{this.nroDeclaracionesSinRevisar}}</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="grafico">
          <h2>Número de declaraciones entregadas mensualmente</h2>
          <canvas
            baseChart
            class="chart"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType"
          >
          </canvas>
        </div>
      
        <!-- <canvas
          baseChart
          class="chart"
          [data]="pieChartData"
          [type]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
        >
        </canvas> -->
      </div>
    </mat-tab>  

    <mat-tab label="No han Entregado Declaración">
        <div class="fondo">
            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
                <ng-container matColumnDef="rut">
                  <th mat-header-cell *matHeaderCellDef> Rut </th>
                  <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
                </ng-container>
              
                <ng-container matColumnDef="nombres">
                  <th mat-header-cell *matHeaderCellDef> Nombres</th>
                  <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ap_paterno">
                  <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
                  <td mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ap_materno">
                  <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
                  <td mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No Hay Deudores con Declaraciones sin Entregar</td>
                </tr>
              </table>
        </div>
    </mat-tab>

    <mat-tab label="Finalizaron su Declaración"> 
        <div class="fondo">
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
                <ng-container matColumnDef="rut">
                  <th mat-header-cell *matHeaderCellDef> Rut </th>
                  <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
                </ng-container>
              
                <ng-container matColumnDef="nombres">
                  <th mat-header-cell *matHeaderCellDef> Nombres</th>
                  <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ap_paterno">
                  <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
                  <td mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ap_materno">
                  <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
                  <td mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No Hay Deudores con Declaraciones Finalizadas</td>
                </tr>
            </table>
        </div>
    </mat-tab>

    <mat-tab label="Declaraciones con Errores"> 
        <div class="fondo">
            <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

                <ng-container matColumnDef="rut">
                  <th mat-header-cell *matHeaderCellDef> Rut </th>
                  <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
                </ng-container>
              
                <ng-container matColumnDef="nombres">
                  <th mat-header-cell *matHeaderCellDef> Nombres</th>
                  <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ap_paterno">
                  <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
                  <td mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
                </ng-container>
              
                <ng-container matColumnDef="ap_materno">
                  <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
                  <td mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No Hay Deudores con Declaraciones en Corrección</td>
                </tr>
              </table>
        </div>
            
    </mat-tab>
    
    <mat-tab label="Solicitaron Postergación"> 
        <div class="fondo">
            <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8">
    
                <ng-container matColumnDef="rut">
                <th mat-header-cell *matHeaderCellDef> Rut </th>
                <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
                </ng-container>
            
                <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef> Nombres</th>
                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                </ng-container>
            
                <ng-container matColumnDef="ap_paterno">
                <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
                <td mat-cell *matCellDef="let element"> {{element.ap_paterno}} </td>
                </ng-container>
            
                <ng-container matColumnDef="ap_materno">
                <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
                <td mat-cell *matCellDef="let element"> {{element.ap_materno}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No Hay Deudores que solicitaron Postergación</td>
                </tr>
            </table>
        </div>
    </mat-tab>
  </mat-tab-group>
  
