.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.mat-header-cell{
    text-align: center;
}

.mat-cell{
    text-align: center;
}

.grafico{
    padding-top: 30px;
    width: 1000px;
}

.tarjetas{
    display: flex; 
    flex-direction: row;
    column-gap: 20px;
}