.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.mat-header-cell{
    text-align: center;
}

.mat-cell{
    text-align: center;
}

.grafico{
    padding-top: 30px;
    width: 1000px;
}

.tarjetas{
    display: flex; 
    flex-direction: row;
    column-gap: 20px;
}

.mat-mdc-raised-button:disabled{
    background-color: rgba(0, 0, 0, 0.12)!important;
    color: rgba(0, 0, 0, 0.38)!important;
    stroke: black!important;
}