/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --color-principal: #990066;
    --color-utalca: #a41e2e;
}

.snackbar {
    background: var(--color-utalca);
    color: white !important;
}
