<div class="fondo">
    <div>
        <h2>Solicitud de Devolución/Copia de Pagarés</h2>
    </div>

    <form [formGroup]="datosDevolucion">
        <div>
            <h3><strong>Antedecentes Personales</strong></h3>
    
            <mat-form-field appearance="outline">
                <mat-label>Rut</mat-label>
                <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
            </mat-form-field>
    
            <div style="display: flex; column-gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres" readonly>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="ap_paterno" readonly>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="ap_materno" readonly>
                </mat-form-field>
            </div>
        </div>
    

        <div>
            <h3><strong>Datos de contacto</strong></h3>

            <div style="display: flex; column-gap: 10px;">
                <mat-form-field appearance="outline" style="width: 35%;">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ej. correo@gmail.com" formControlName="correo" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Ej.912345678" formControlName="telefono" readonly>
                </mat-form-field>
            </div>
        </div>

        <div>
            <h3><strong>Solicitud:</strong></h3>
            <div style="display: flex; flex-direction: column;">
                <mat-form-field appearance="outline" style="width: 50%;">
                    <input matInput placeholder="" formControlName="solicitud" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 35%;">
                    <mat-label>Tipo de Deuda</mat-label>
                    <input matInput placeholder="" formControlName="tipo_deuda" readonly>
                </mat-form-field>
            </div>
        </div>

        <div>
            <h3><strong>Datos de Entrega</strong></h3>
            <div style="display: flex; flex-direction: column;">
                <mat-form-field appearance="outline" style="width: 35%;">
                    <mat-label>Retira en Oficinas AFC</mat-label>
                    <input matInput placeholder="" formControlName="retiro_oficina" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 35%;">
                    <mat-label>Domicilio</mat-label>
                    <input matInput placeholder="" formControlName="domicilio" readonly>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div style="padding-bottom: 3%;">
        <div>
            <label><strong>Fotocopia Simple de Cédula de Identidad</strong></label>
        </div>
        <div class="subir-documento">
            <input type="file" accept="application/pdf" #fotocopia style="display: none;">
            <div (click)="visualizarPDF()" class="miniatura-pdf">
                <img class="icono-pdf" src="../../../assets/imagenes/pdf.png" id="logo"/>
                <div style="text-overflow: ellipsis; overflow: hidden; ">{{this.devolucion.nombre_archivo}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="funcionario && this.devolucion.estado == 1">
        <form [formGroup]="formulario">
            <h3>Comentarios</h3>
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios"></textarea>
            </mat-form-field>
        </form>
    </div>

    <div class="botones" *ngIf="funcionario && this.devolucion.estado == 1">
        <div>
            <button mat-button (click)="registrarRevision('ACEPTADA')">Aceptar</button>
        </div>
        <div>
            <button mat-button (click)="registrarRevision('RECHAZADA')">Rechazar</button>
        </div>
    </div>

    <div *ngIf="this.devolucion.estado == 3 || this.devolucion.estado == 4">
        <form [formGroup]="formulario">
            <h3><strong>Comentarios</strong></h3>
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios"></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
