.fondo{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width:100%; 
    padding: 30px;
    row-gap: 10px;
}

.subir-documento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid currentColor;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    cursor: pointer;
}

.miniatura-pdf{
    display: flex; 
    align-items: center; 
    height: 100%; 
    width: 55%;
}

.icono-pdf{
    max-height: 70%;
    padding-right: 5px;
}

.botones{
    display: flex;
}