<form [formGroup]="datosDeudor" class="formulario">
    <h2>Ingrese los datos del deudor.</h2>
    <mat-form-field appearance="outline">
        <mat-label>R.U.T</mat-label>
        <input matInput mask="0.000.000-0 || 00.000.000-0" [patterns]="this.customPatterns"  [dropSpecialCharacters]="false" placeholder="Ej. 12345678-9" formControlName="rut_deudor" autocomplete="off" required>
        <mat-error *ngIf="this.datosDeudor.controls['rut_deudor'].errors?.rut_valido">El rut ingresado no es válido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Primer y Segundo Nombre" formControlName="nombres">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="ap_paterno">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="ap_materno">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Año de inicio de cobro</mat-label>
            <mat-select formControlName="inicio_cobro" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let year of this.years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        <mat-error *ngIf="this.datosDeudor.controls['inicio_cobro'].hasError('required')">Por favor seleccione un año</mat-error>
    </mat-form-field>

    <div class="botones">
        <button style="height: 40px; color: white; background-color: var(--color-utalca);" mat-raised-button (click)="registrarDeudor()" [disabled]="this.datosDeudor.invalid">Registrar</button>
        <button style="height: 40px; color: white; background-color: var(--color-utalca);" mat-raised-button (click)="cerrar()">Cancelar</button>
    </div>
</form>
