<form [formGroup]="datosPostergacion" class="fondo">
    <h1><b>Solicitud de Postergación de Cobro</b></h1>

    <mat-card>
        <mat-card-header>
            <mat-card-title style="font-size: 16px;"><b>Antedecentes Personales</b></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 20px;">
            <mat-form-field appearance="outline">
                <mat-label>Rut</mat-label>
                <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
            </mat-form-field>
    
            <div style="display: flex; column-gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres" readonly>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="ap_paterno" readonly>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="ap_materno" readonly>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title style="font-size: 16px;"><b>Motivo de la Postergación</b></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 20px;">
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="10" cols="40" placeholder="Ej. Solicito la postergación del cobro de mi crédito para este año, debido a..." formControlName="motivo" readonly></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
   
    <mat-card>
        <mat-card-header>
            <mat-card-title style="font-size: 16px;"><b>Documentación</b></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 20px;">
            <div class="subir-documento">
                <input type="file" accept="application/pdf" #fotocopia style="display: none;">
                <div (click)="visualizarPDF()" class="miniatura-pdf">
                    <img class="icono-pdf" src="../../../assets/imagenes/pdf.png" id="logo"/>
                    <div style="text-overflow: ellipsis; overflow: hidden; ">{{this.postergacion.nombre_archivo}}</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="funcionario && this.postergacion.estado == 1">
        <mat-card-header>
            <mat-card-title style="font-size: 16px;"><b>Comentarios</b></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 20px;">
            <form [formGroup]="formulario">
                <mat-form-field appearance="outline" style="width: 65%;">
                    <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios"></textarea>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="botones" *ngIf="funcionario && this.postergacion.estado == 1">
        <div>
            <button mat-button (click)="registrarRevision('ACEPTADA')">Aceptar</button>
        </div>
        <div>
            <button mat-button (click)="registrarRevision('RECHAZADA')">Rechazar</button>
        </div>
    </div>

    <mat-card *ngIf="this.postergacion.estado == 3 || this.postergacion.estado == 4">
        <mat-card-header>
            <mat-card-title style="font-size: 16px;"><b>Comentarios</b></mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="padding-top: 20px;">
            <form [formGroup]="formulario">
                <mat-form-field appearance="outline" style="width: 65%;">
                    <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios" readonly></textarea>
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</form>
