<div class="fondo">
    <div>
        <h2>Solicitud de Postergación de Cobro</h2>
    </div>

    <div style="padding-bottom: 3%;">
        <h3><strong>Antedecentes Personales</strong></h3>
        <div>
            Rut: {{this.postergacion.rut_deudor}}
        </div>
        <div style="display: flex; column-gap: 5%;">
            <span>Nombres: {{this.postergacion.nombres}}</span>
            <span>Apellido Paterno: {{this.postergacion.ap_paterno}}</span>
            <span>Apellido Materno: {{this.postergacion.ap_materno}}</span>
        </div>
    </div>

    <div style="padding-bottom: 3%;">
        <h3><strong>Motivo</strong></h3>
        <div style="width: 650px;">
            <p>{{this.postergacion.motivo}}</p>
        </div>
    </div>

    <div style="padding-bottom: 3%;">
        <div>
            <label><strong>Documentación</strong></label>
        </div>
        <div class="subir-documento">
            <input type="file" accept="application/pdf" #fotocopia style="display: none;">
            <div (click)="visualizarPDF()" class="miniatura-pdf">
                <img class="icono-pdf" src="../../../assets/imagenes/pdf.png" id="logo"/>
                <div style="text-overflow: ellipsis; overflow: hidden; ">{{this.postergacion.nombre_archivo}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="funcionario">
        <form [formGroup]="formulario">
            <h3>Comentarios</h3>
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios"></textarea>
            </mat-form-field>
        </form>
    </div>

    <div class="botones" *ngIf="funcionario">
        <div>
            <button mat-button (click)="registrarRevision('ACEPTADA')">Aceptar</button>
        </div>
        <div>
            <button mat-button (click)="registrarRevision('RECHAZADA')">Rechazar</button>
        </div>
    </div>
</div>
