<div class="fondo">
    <div>
        <h2>Solicitud de Postergación de Cobro</h2>
    </div>

    <form [formGroup]="datosPostergacion">
        <div>
            <h3><strong>Antedecentes Personales</strong></h3>
            <mat-form-field appearance="outline">
                <mat-label>Rut</mat-label>
                <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
            </mat-form-field>
    
            <div style="display: flex; column-gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres" readonly>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput formControlName="ap_paterno" readonly>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput formControlName="ap_materno" readonly>
                </mat-form-field>
            </div>
        </div>
    
        <div>
            <h3><strong>Motivo de la Postergación</strong></h3>
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="10" cols="40" placeholder="Ej. Solicito la postergación del cobro de mi crédito para este año, debido a..." formControlName="motivo"></textarea>
            </mat-form-field>
        </div>
    </form>

    <div style="padding-bottom: 20px;">
        <h3><strong>Documentación</strong></h3>
        <div class="subir-documento">
            <input type="file" accept="application/pdf" #fotocopia style="display: none;">
            <div (click)="visualizarPDF()" class="miniatura-pdf">
                <img class="icono-pdf" src="../../../assets/imagenes/pdf.png" id="logo"/>
                <div style="text-overflow: ellipsis; overflow: hidden; ">{{this.postergacion.nombre_archivo}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="funcionario && this.postergacion.estado == 1">
        <form [formGroup]="formulario">
            <h3><strong>Comentarios</strong></h3>
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios"></textarea>
            </mat-form-field>
        </form>
    </div>

    <div class="botones" *ngIf="funcionario && this.postergacion.estado == 1">
        <div>
            <button mat-button (click)="registrarRevision('ACEPTADA')">Aceptar</button>
        </div>
        <div>
            <button mat-button (click)="registrarRevision('RECHAZADA')">Rechazar</button>
        </div>
    </div>

    <div *ngIf="this.postergacion.estado == 3 || this.postergacion.estado == 4">
        <form [formGroup]="formulario">
            <h3><strong>Comentarios</strong></h3>
            <mat-form-field appearance="outline" style="width: 65%;">
                <textarea matInput rows="5" cols="40" placeholder="Comentarios" formControlName="comentarios"></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
