.fondo{
    display: grid;
    padding: 25px;
}

.acciones{
    display: flex;
    justify-content: center;
}

.botones{
    margin-right: 10px;
}

.mat-header-cell{
    text-align: center;
}

.mat-cell{
    text-align: center;
}