<div class="fondo">
    <h2 class="titulo">Registrar Declaración Jurada de Ingresos</h2>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="datosPersonales">
            <form [formGroup]="datosPersonales">
              <ng-template matStepLabel>Datos del Deudor</ng-template>
              <div class="formulario">
                <div class="datos_personales">
                    <h3>Datos Personales</h3>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>RUT</mat-label>
                        <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
                    </mat-form-field>

                    <div class="form_nombre">
                        <mat-form-field appearance="outline" class="inputs" >
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Primer y Segundo Nombre" formControlName="nombres" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput formControlName="ap_paterno" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput formControlName="ap_materno" readonly>
                        </mat-form-field>
                    </div>

                    <div class="div_estado_civil">
                        <label>Estado Civil:</label>
                        <mat-radio-group class="estado_civil" formControlName="estado_civil">
                            <mat-radio-button (change)="verificacionEstadoCivil($event.value)" class="opciones" value="1">Soltero sin hijos</mat-radio-button>
                            <mat-radio-button (change)="verificacionEstadoCivil($event.value)" class="opciones" value="2">Soltero con hijos</mat-radio-button>
                            <mat-radio-button (change)="verificacionEstadoCivil($event.value)" class="opciones" value="3">Casado</mat-radio-button>
                            <mat-radio-button (change)="verificacionEstadoCivil($event.value)" class="opciones" value="4">Casado con deudor Reprog.Cred.Univ. o Fiscal</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                

                <h3>Domicilio</h3>
                <div class="form_direccion">
                    <mat-form-field appearance="outline" class="input_direccion">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Pasaje 1 nro 37" formControlName="direccion" required>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Región</mat-label>
                        <mat-select formControlName="region" name="region" (selectionChange)="seleccionarComunas($event.value)">
                            <mat-option *ngFor="let region of regiones" [value]="region.nombre">
                                {{region.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Comuna</mat-label>
                        <mat-select formControlName="comuna" name="comuna">
                            <mat-option *ngFor="let comuna of comunas" [value]="comuna">
                                {{comuna}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Ciudad</mat-label>
                        <input matInput placeholder="Rancagua" formControlName="ciudad" required>
                    </mat-form-field>
                </div>

                <h3>Datos de Contacto</h3>
                <div class="form_contacto">
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="912345678" formControlName="telefono" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="correo@gmail.com" formControlName="correo" required>
                    </mat-form-field>
                </div>

                <h3>Datos del Trabajo</h3>
                <div class="form_trabajo">
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Institución en la que trabaja</mat-label>
                        <input matInput placeholder="Lugar de trabajo" formControlName="trabajo">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Teléfono del trabajo</mat-label>
                        <input matInput formControlName="tel_trabajo">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>AFP a la que esta afiliado</mat-label>
                        <input matInput formControlName="afp">
                    </mat-form-field>
                </div>
              </div>

              <div class="botones">
                <div class="boton">
                    <button mat-stroked-button (click)="registrarDeclaracion()">Guardar</button>
                </div>
        
                <div class="boton">
                    <button mat-stroked-button matStepperNext >Siguiente</button>
                </div>
              </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="ingresosDeudor">
            <div>
                <form [formGroup]="ingresosDeudor">
                <ng-template matStepLabel>Ingresos del Deudor</ng-template>
    
                <div class="formulario_ingresos">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" id="{{element.id}}" required (keyup)="convertirUTM($event)">
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" required>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">
                    <div class="boton">
                        <button mat-button (click)="registrarIngresosDeclaracion()">Guardar</button>
                    </div>
                    
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
                </form>
            </div>
        </mat-step>
        <mat-step [stepControl]="ingresosConyuge" *ngIf="casado">
            <form [formGroup]="ingresosConyuge">
              <ng-template matStepLabel>Datos e Ingresos del Conyuge</ng-template>

                <div>
                    <h3>Datos Personales</h3>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Rut</mat-label>
                        <input matInput placeholder="Ej. 12345678" formControlName="rut_conyuge" required>
                    </mat-form-field>

                    <div class="form_nombre">
                        <mat-form-field appearance="outline" class="inputs" >
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="nombres" required>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_paterno" required>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_materno" required>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <h3>Ingresos del Conyuge</h3>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" id="{{element.id}}" required (keyup)="convertirUTMConyuge($event)">
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" required>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">
                    <div class="boton">
                        <button mat-button (click)="registrarDatosConyuge()">Guardar</button>
                    </div>
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="ingresosConyuge">
            <form [formGroup]="ingresosConyuge">
              <ng-template matStepLabel>Documentación</ng-template>
                <div class="formulario_documentacion">
                    <div class="documento">
                        <div class="label_documento">
                            <label>Certificado de rentas</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload($event)" accept="application/pdf">
                            <button mat-icon-button><mat-icon (click)="subirDocumentos()" class="material-icons-outlined">save</mat-icon></button>
                        </div>
                        <div></div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Formulario N°22 Compacto</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload($event)">
                            <button mat-icon-button><mat-icon (click)="subirDocumentos()" class="material-icons-outlined">save</mat-icon></button>
                        </div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Carpeta Tributaria</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload($event)">
                            <button mat-icon-button><mat-icon (click)="subirDocumentos()" class="material-icons-outlined">save</mat-icon></button>
                        </div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Certificado de Cotizaciones Previsionales</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload($event)">
                            <button mat-icon-button><mat-icon (click)="subirDocumentos()" class="material-icons-outlined">save</mat-icon></button>
                        </div>
                    </div>
                </div>
                
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="ingresosConyuge">
            <form [formGroup]="ingresosConyuge">
              <ng-template matStepLabel>Finalizar</ng-template>
                
                <div>
                    <button mat-button matStepperNext>Enviar</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>


