<div class="fondo">
    <h2 class="titulo">Registrar Declaración Jurada de Ingresos</h2>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="datosPersonales">
            <form [formGroup]="datosPersonales">
              <ng-template matStepLabel>Datos del Deudor</ng-template>
              <div class="formulario">
                <div class="datos_personales">
                    <h3>Datos Personales</h3>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>RUT</mat-label>
                        <input matInput placeholder="Ej. 12345678" formControlName="rut_deudor" readonly>
                    </mat-form-field>

                    <div class="form_nombre">
                        <mat-form-field appearance="outline" class="inputs" >
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Primer y Segundo Nombre" formControlName="nombres" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput formControlName="ap_paterno" readonly>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput formControlName="ap_materno" readonly>
                        </mat-form-field>
                    </div>

                    <div class="div_estado_civil">
                        <label>Estado Civil:</label>
                        <mat-radio-group class="estado_civil" formControlName="estado_civil">
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 1" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=1>Soltero sin hijos</mat-radio-button>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 2" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=2>Soltero con hijos</mat-radio-button>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 3" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=3>Casado</mat-radio-button>
                            <mat-radio-button [checked]="this.datosPersonales.get('estado_civil')!.value == 4" 
                            (change)="verificacionEstadoCivil($event.value)" class="opciones" value=4>Casado con deudor Reprog.Cred.Univ. o Fiscal</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                

                <h3>Domicilio</h3>
                <div class="form_direccion">
                    <mat-form-field appearance="outline" class="input_direccion">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Pasaje 1 nro 37" formControlName="direccion" required>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Región</mat-label>
                        <mat-select formControlName="region" name="region" [(ngModel)]="this.datosPersonales.get('region')!" (selectionChange)="seleccionarComunas($event.value)">
                            <mat-option *ngFor="let region of regiones" [value]="region.nombre">
                                {{region.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Comuna</mat-label>
                        <mat-select formControlName="comuna" name="comuna" [(ngModel)]="this.datosPersonales.get('comuna')!">
                            <mat-option *ngFor="let comuna of comunas" [value]="comuna">
                                {{comuna}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Ciudad</mat-label>
                        <input matInput placeholder="Rancagua" formControlName="ciudad" required>
                    </mat-form-field>
                </div>

                <h3>Datos de Contacto</h3>
                <div class="form_contacto">
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="912345678" formControlName="telefono" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="correo@gmail.com" formControlName="correo" required>
                    </mat-form-field>
                </div>

                <h3>Datos del Trabajo</h3>
                <div class="form_trabajo">
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Institución en la que trabaja</mat-label>
                        <input matInput placeholder="Lugar de trabajo" formControlName="trabajo">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Teléfono del trabajo</mat-label>
                        <input matInput formControlName="tel_trabajo">
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>AFP a la que esta afiliado</mat-label>
                        <mat-select formControlName="afp" name="afp">
                            <mat-option *ngFor="let afp of afps" [value]="afp.id">
                                {{afp.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
              </div>

              <div class="botones">
                <div class="boton">
                    <button mat-stroked-button matStepperNext (click)="registrarDeclaracion()">Guardar</button>
                </div>
        
                <div class="boton">
                    <button mat-stroked-button matStepperNext >Siguiente</button>
                </div>
              </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="ingresosDeudor">
            <div>
                <form [formGroup]="ingresosDeudor">
                <ng-template matStepLabel>Ingresos del Deudor</ng-template>
    
                <div class="formulario_ingresos">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" id="{{element.id}}" required (keyup)="convertirUTM($event)">
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" required>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">
                    <div class="boton">
                        <button mat-button matStepperNext (click)="registrarIngresosDeclaracion()">Guardar</button>
                    </div>
                    
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
                </form>
            </div>
        </mat-step>
        <mat-step [stepControl]="conyuge" *ngIf="casado">
            <form [formGroup]="conyuge">
              <ng-template matStepLabel>Datos e Ingresos del Conyuge</ng-template>

                <div>
                    <h3>Datos Personales</h3>

                    <mat-form-field appearance="outline" class="inputs">
                        <mat-label>Rut</mat-label>
                        <input matInput placeholder="Ej. 12345678" formControlName="rut_conyuge" required>
                    </mat-form-field>

                    <div class="form_nombre">
                        <mat-form-field appearance="outline" class="inputs" >
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="nombres" required>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_paterno" required>
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" class="inputs">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput placeholder="Last name, First name" formControlName="ap_materno" required>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <h3>Ingresos del Conyuge</h3>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="tabla">
                        <ng-container matColumnDef="mes">
                            <th mat-header-cell *matHeaderCellDef> Mes </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_pesos">
                            <th mat-header-cell *matHeaderCellDef> Monto en Pesos </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControl}}" id="{{element.id}}" required (keyup)="convertirUTMConyuge($event)">
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <ng-container matColumnDef="utm">
                            <th mat-header-cell *matHeaderCellDef> Valor UTM </th>
                            <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ingresos_utm">
                            <th mat-header-cell *matHeaderCellDef> Monto en UTM </th>
                            <div class="div_form_ingresos" mat-cell *matCellDef="let element">
                                <mat-form-field  class="form_ingresos">
                                    <input matInput formControlName="{{element.formControlUTM}}" required>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div class="botones">
                    <div class="boton">
                        <button mat-button matStepperNext (click)="registrarConyuge()">Guardar</button>
                    </div>
                    <div class="boton">
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="conyuge">
            <form [formGroup]="conyuge">
              <ng-template matStepLabel>Documentación</ng-template>
                <div class="formulario_documentacion">
                    <div class="documento">
                        <div class="label_documento">
                            <label>Certificado de Rentas</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('RENTAS_DEUDOR', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoRentaDeudor()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                        <div></div>
                    </div>

                    <div class="documento" *ngIf="casado || casadoReprog">
                        <div class="label_documento">
                            <label>Certificado de Rentas Conyuge</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('RENTAS_CONYUGE',$event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoRentaConyuge()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                        <div></div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Formulario N°22 Compacto</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('FORMULARIO_N22', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoFormulario22()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Carpeta Tributaria Deudor</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('CARPETA_TRIBUTARIA_DEUDOR', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoCarpTributariaDeudor()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento" *ngIf="casado || casadoReprog">
                        <div class="label_documento">
                            <label>Carpeta Tributaria Conyuge</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('CARPETA_TRIBUTARIA_CONYUGE', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoCarpTributariaConyuge()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Certificado de Cotizaciones Previsionales</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('CERTIFICADO_COTIZACIONES', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoCotizaciones()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento" *ngIf="casado || casadoReprog">
                        <div class="label_documento">
                            <label>Fotocopia de Libreta de Matrimonio</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('LIBRETA_MATRIMONIO', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoLibretaMatrimonio()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Declaracion Jurada Notarial Simple del Deudor (debe acreditar
                                no haber percibido ingresos en tres o mas meses)</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('DEC_JURADA_SIMPLE_DEUDOR', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoDecJuradaDeudor()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento" *ngIf="casado || casadoReprog">
                        <div class="label_documento">
                            <label>Declaracion Jurada Notarial Simple del Conyuge (debe acreditar
                                no haber percibido ingresos en tres o mas meses)</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('DEC_JURADA_SIMPLE_CONYUGE', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoDecJuradaConyuge()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento">
                        <div class="label_documento">
                            <label>Finiquito de Trabajo Deudor</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('FINIQUITO_DEUDOR', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoFinitoDeudor" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento" *ngIf="casado || casadoReprog">
                        <div class="label_documento">
                            <label>Finiquito de Trabajo Conyuge</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('FINIQUITO_CONYUGE', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoFinitoConyuge" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento" *ngIf="tieneHijos">
                        <div class="label_documento">
                            <label>Certificado de Nacimiento de Hijo</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('CERT_NACIMIENTO', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoCertNacimiento()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>

                    <div class="documento" *ngIf="casadoReprog">
                        <div class="label_documento">
                            <label>Copia de Pagaré de Conyuge, para deudores reprogramados Ley 19.287</label>
                        </div>
                        <div class="input_documento">
                            <input type="file" (change)="upload('PAGARE_CONYUGE', $event)" accept="application/pdf">
                            <div>
                                <button mat-icon-button><mat-icon (click)="subirDocumentoPagareConyuge()" class="material-icons-outlined">save</mat-icon></button>
                                <button mat-icon-button><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="conyuge">
            <form [formGroup]="conyuge">
              <ng-template matStepLabel>Finalizar</ng-template>
                
                <div>
                    <button mat-button matStepperNext>Enviar</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>


