.fondo{
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 100%;
}

.grid_mensajes{
    display: grid;
    grid-template-columns: 300px 20px 700px 20px;
    grid-template-rows: 23% 23% 23% 23%;
    height: 100%;
}

.conversaciones{
    grid-column: 1;
    grid-row: 1 / 4;
    border: black solid 1px;
}

.mensajes{
    display: flex;
    flex-direction: column-reverse;
    grid-column: 3;
    grid-row: 1 / 4;
    border: black solid 1px;
}

.input{
    grid-column: 3;
    grid-row: 4;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 20px;
    max-height: 50px;
}

.input_mensaje{
    margin-right: 20px;
    grid-column: 1 / 4;
    grid-row: 1;
}

.boton_enviar{
    grid-column: 4;
    grid-row: 1;
}