<div class="fondo">
    <h2>Mensajes</h2>

    <div class="grid_mensajes">
        <div class="conversaciones">
            <mat-card *ngFor="let conversacion of conversaciones;">{{conversacion}}</mat-card>
        </div>

        <div class="mensajes">
            <mat-card *ngFor="let mensaje of mensajes;">{{mensaje.mensaje}}</mat-card>
        </div>

        <div class="input">
            <input matInput formControlName="mensaje" class="input_mensaje">
            <button mat-stroked-button class="boton_enviar"> Enviar</button>
        </div>
    </div>
</div>
