.formulario{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
}

.botones{
    display: flex;
    padding-top: 10px;
    column-gap: 10px;
}

.mensaje-error{
    font-size: 10px;
    padding-top: 2px;
    color: red;
}